teamcity-server:
    build: 
      teamcity-server
    container_name:
      teamcity-server
    ports:
      - "8111:8111" 
    volumes:
      - ./ts-data:/data/teamcity_server/datadir
      - ./ts-logs:/opt/teamcity/logs
    restart: always